<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Demaster</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="/assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="/assets/css/Social-Icons.css">
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101261866);</script>
<script async src="//static.getclicky.com/js"></script>
</head>

<body>
    <div class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h1 class="text-center">API Instructions</h1>
            </div>
            <h2>Endpoint</h2>
            <p>http://demaster.hankapi.com/demaster</p>
            <h2>Accepted arguments</h2><strong>?long_track_name=</strong>
            <p>Will accept text including spaces, hyphens and brackets</p><strong>?format=</strong>
            <p>html : serves human friendly output (default if not specified)<br>json : generates json (example here)<br>simple : returns the short title in plain text</p>
            <h2>Other resources</h2>
            <h1><a class="text-white" href="https://github.com/hankhank10/demaster"><i class="icon ion-social-github"></i></a></h1>
            <p></p>
            <div class="buttons"></div>
        </div>
    </div>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://github.com/hankhank10/demaster"><i class="icon ion-social-github"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="index">Home</a></li>
                <li class="list-inline-item"><a href="api_instructions">API details</a></li>
                <li class="list-inline-item"><a href="https://github.com/hankhank10/demaster">Source code</a></li>
            </ul>
            <p class="copyright">This site and the API are provided without warranty. Use or rely on it at your own risk.</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>